:root {
  --color-primary: #0064c8;
  --color-secondary: #00b450;

  --color-success: #67c23a;
  --color-warning: #e6a23c;
  --color-danger: #f56c6c;
  --color-error: #f56c6c;

  --color-gray-600: #898989;
  --color-gray-500: #c4c4c4;
  --color-gray-400: #e6e6e6;
  --color-gray-300: #efefef;

  --header-height: 60px;

  --bar-default-color: #84bfff;
  --bar-target-color: #c89600;
  --bg-revenue-color: #a39ecb;

  //quasar variable
  --q-primary: #1976d2;
  --q-secondary: #26a69a;
  --q-accent: #9c27b0;
  --q-positive: #21ba45;
  --q-negative: #c10015;
  --q-info: #31ccec;
  --q-warning: #f2c037;
  --q-dark: #1d1d1d;
  --q-dark-page: #121212;
}

/** 主題色 */
$--color-primary: #0064c8;
$--color-primary--hover: darken($--color-primary, 5%);
$--color-primary--disabled: #6e96b4;
$--color-primary--light: #587898;
$--color-primary--light--hover: darken($--color-primary--light, 10%);
$--color-primary--light--disabled: #a0b2c4;

$--color-secondary: #00b450;

$--color-tertiary: #463c96;
$--color-tertiary--light: #9b8cc7;
$--color-tertiary--light--hover: darken($--color-tertiary--light, 10%);
$--color-tertiary--light--disabled: rgba($--color-tertiary--light, 0.5);

$--color-default: #5d84a6;
$--color-default--hover: darken($--color-default, 5%);
$--color-default--disabled: #bcbcbc;

/** 狀態色 */
$--color-success: #00b450;
$--color-danger: #ff3232;
$--color-error: #ff3232;

/** 基本色 */
$--color-gray-900: #2e2e2e;
$--color-gray-800: #3a3a3a;
$--color-gray-700: #515151;
$--color-gray-600: #898989;
$--color-gray-500: #c4c4c4;
$--color-gray-400: #e6e6e6;
$--color-gray-300: #efefef;

$--color-white: #ffffff;

$--background-color-base: #f3f3f3;

/* index page 顏色*/
$--color-border: #c8c8c8;

/* BarChart組件顏色  */
$--color-targetTab-bg: #473c96;
$--color-Tab-bg: #2cb450;
$--color-update-time: #969696;

$--font-size-base: 16px;

$--border-radius-base: 4px;
$--border-radius-small: 2px;
$--border-radius-middle: 6px;
$--border-radius-large: 8px;
$--border-radius-extraLarge: 12px;
$--border-radius-circle: 50%;

$--border-color-base: #d9d9d9;
$--border-color--disabled: #eae9e9;

$--header-height: 60px;
$--sidebar-height: 100dvh;
$--sidebar-width: 300px;

$--header-bg-color: $--background-color-base;
$--sidebar-bg-color: $--background-color-base;
$--page-bg-color: $--background-color-base;

$--header-z-index: 100;
$--sidebar-z-index: 100;
$--mask-overlay-z-index: 99;

$--logo-height: 50px;
$--logo-width-max: 120px;
$--logo-width-min: 90px;

$--login-top: 60px;
$--login-top-mobile: 24px;

$--box-shadow-base:
  0 2px 4px rgba(0, 0, 0, 0.12),
  0 0 6px rgba(0, 0, 0, 0.04);
$--box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
$--box-shadow-lighter: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
$--box-shadow-dark:
  0 2px 4px rgba(0, 0, 0, 0.12),
  0 0 6px rgba(0, 0, 0, 0.04);
$--box-shadow-darker: 0 2px 12px 0 rgba(0, 0, 0, 0.3);

$--icon-height: 32px;
$--icon-width: 32px;
$--icon-height-sm: 24px;
$--icon-width-sm: 24px;
$--icon-height-md: 32px;
$--icon-width-md: 32px;
$--icon-height-lg: 40px;
$--icon-width-lg: 40px;
$--icon-height-xl: 48px;
$--icon-width-xl: 48px;

$--header-padding-x: 1.5rem;
$--header-padding-x-mobile: 0.75rem;
$--sidebar-padding-x: 1rem;
$--sidebar-padding-y: 3rem 2rem;
$--page-padding-x: 1.5rem;
$--page-padding-x-mobile: 0.75rem;
$--page-padding-top: 2rem;
$--page-padding-bottom: 2rem;

$grid-breakpoints: (
  xxs: 375px,
  xs: 390px,
  sm: 576px,
  md: 768px,
  lg: 960px,
  xl: 1200px,
  2xl: 1440px,
  3xl: 1680px,
  4xl: 1920px
);

$--heading-font-size: 3rem;
$--heading-font-size-mobile: 2.5rem;
