:root {
  --color-primary: #0064c8;
  --color-success: #67c23a;
  --color-warning: #e6a23c;
  --color-danger: #f56c6c;
  --color-error: #f56c6c;

  --color-gray-600: #898989;
  --color-gray-500: #c4c4c4;
  --color-gray-400: #e6e6e6;
  --color-gray-300: #efefef;

  --header-height: 60px;
}

/** 主題色 */
$--color-primary: #0064c8;
$--color-primary--hover: #66b1ff;
$--color-primary--dark: #463c96;
$--color-secondary: #00b450;

/** 狀態色 */
$--color-success: #00b450;
$--color-danger: #ff3232;
$--color-error: #ff3232;

/** 基本色 */
$--color-gray-900: #2e2e2e;
$--color-gray-800: #3a3a3a;
$--color-gray-700: #515151;
$--color-gray-600: #898989;
$--color-gray-500: #c4c4c4;
$--color-gray-400: #e6e6e6;
$--color-gray-300: #efefef;

$--color-white: #ffffff;

$--background-color-base: #f3f3f3;

$--font-size-base: 16px;

$--border-radius-base: 4px;
$--border-radius-small: 2px;
$--border-radius-middle: 6px;
$--border-radius-large: 8px;
$--border-radius-circle: 50%;

$--header-height: 60px;
$--sidebar-height: 100dvh;
$--sidebar-width: 300px;

$--header-bg-color: $--background-color-base;
$--sidebar-bg-color: $--background-color-base;
$--page-bg-color: $--background-color-base;

$--header-z-index: 100;
$--sidebar-z-index: 100;
$--mask-overlay-z-index: 99;

$--box-shadow-base:
  0 2px 4px rgba(0, 0, 0, 0.12),
  0 0 6px rgba(0, 0, 0, 0.04);
$--box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
$--box-shadow-lighter: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
$--box-shadow-dark:
  0 2px 4px rgba(0, 0, 0, 0.12),
  0 0 6px rgba(0, 0, 0, 0.04);
$--box-shadow-darker: 0 2px 12px 0 rgba(0, 0, 0, 0.3);

$--icon-height: 16px;
$--icon-width: 16px;
$--icon-height--sm: 16px;
$--icon-width--sm: 16px;
$--icon-height--md: 24px;
$--icon-width--md: 24px;
$--icon-height--lg: 32px;
$--icon-width--lg: 32px;
$--icon-height--xl: 48px;
$--icon-width--xl: 48px;

$--header-padding-x: 1.5rem;
$--sidebar-padding-x: 1rem;
$--sidebar-padding-y: 3rem 2rem;
$--page-padding-x: 1.5rem;
$--page-padding-top: 2rem;
$--page-padding-bottom: 2rem;
